.jumbotron-fluid {
  position: relative;
  height:100vh;
  /* background-image: url('./img/demo.jpg'); */
  background: #000;
  background-image: url();
  background-size: cover;
  text-align: center;
  width:100%;
  overflow: hidden;
  border-bottom: 1px solid gold;
}