/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#navbar {
  background: #000 !important;
  border-bottom: 1px solid gold;
}

.navbar-brand{
  color: white !important;
  
}

.nav-item {
  color:white !important;
}

 .navbar-toggler-icon{
  background-color: gold;
}


/* Backgroung */
body{
  background: black;
}